{% extends "layout.html" %}

{% block header %}
<form action="{{ url_for('reset_sess') }}" method="GET" class="row g-2 align-items-center">
    <div class="col-auto nav-item">
        <button 
            class="btn btn-primary px-3" 
            type="submit"
        >
            Reset Session
        </button>
    </div>
</form>

<script>
$(document).ready(function () {
    $('#submit-feature').click(function () {
        var selectedFeatures = [];
        $('#feature-checkboxes input:checked').each(function () {
            selectedFeatures.push($(this).val());
        });

        if (selectedFeatures.length === 0) {
            alert('Please select at least one feature to visualize!');
            return;
        }

        const visualizeButton = $('#submit-feature');
        const spinnerButton = $('#loading-spinner');
        visualizeButton.prop("disabled", true).hide();
        spinnerButton.show();

        var data = {
            'feature_names': selectedFeatures
        };

        $.ajax({
            url: '/read-feature-multiple',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                if (!response || response.status !== 'success' || !response.plots || Object.keys(response.plots).length === 0) {
                    alert('No plots were generated. Please check your selected features.');
                    return;
                }

                $('#scatter-plot').empty();
                let rowDiv = null;
                let index = 0;

                Object.entries(response.plots).forEach(([featureName, plotHtml]) => {
                    if (index % 2 === 0) {
                        rowDiv = $('<div class="row mt-3"></div>'); // Create a new row every two figures
                        $('#scatter-plot').append(rowDiv);
                    }

                    let plotContainer = `
                        <div class="col-md-6">
                            <div class="plot-container w-100">
                                ${plotHtml}
                            </div>
                        </div>`;

                    rowDiv.append(plotContainer);
                    index++;
                });

                $('#rad-container').show();
            },
            error: function (error) {
                console.error('Error:', error);
                alert('An error occurred while generating the scatter plots. Please try again.');
            },
            complete: function () {
                spinnerButton.hide();
                visualizeButton.prop("disabled", false).show();
            }
        });
    });

    // Function to resize Plotly figures to fit their containers
    function resizePlotlyFigures() {
        $('.plotly-graph-div').each(function () {
            Plotly.relayout(this, {
                'autosize': true
            });
        });
    }
    // Resize when window loads or resizes
    $(window).on('load resize', function () {
        resizePlotlyFigures();
    });
    // Ensure resizing works when switching tabs
    $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function () {
        resizePlotlyFigures();
    });

});
</script>
{% endblock header %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if sess %}
        <h1 class="h2">Running session: {{ sess }}</h1>
    {% endif %}
</div>

<div class="container mt-4">
    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs" id="analysisTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="voxel-tab" data-bs-toggle="tab" data-bs-target="#voxel" type="button" role="tab">Voxel-Level Analysis</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab">Metadata-Level Analysis</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="radiomics-tab" data-bs-toggle="tab" data-bs-target="#radiomics" type="button" role="tab">Radiomic Feature Visualization</button>
        </li>
    </ul>

    <div class="tab-content mt-3" id="analysisTabsContent">

        <!-- Voxel-Level Analysis -->
        <div class="tab-pane fade show active" id="voxel" role="tabpanel">
            <h3 class="mt-3">Intensity Distribution</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['histogram'] | safe if figures else 'No data available' }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['kde'] | safe if figures }}
                    </div>
                </div>
            </div>

            <h3 class="mt-4">Statistical Properties</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['skewness'] | safe if figures else 'No data available' }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['kurtosis'] | safe if figures }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['kl'] | safe if figures }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['snr'] | safe if figures }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Metadata-Level Analysis -->
        <div class="tab-pane fade" id="metadata" role="tabpanel">
            <h3 class="mt-3">Header Variability</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['manufacturer'] | safe if figures else 'No data available' }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['convolution_kernel'] | safe if figures }}
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 mb-3">
                    <div class="border p-3 rounded shadow bg-white">
                        {{ figures['slice_thickness'] | safe if figures }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Radiomic Feature Visualization -->
        <div class="tab-pane fade" id="radiomics" role="tabpanel">
            <div class="card col-md-12">
                <h5 class="card-header">Radiomic Feature Visualization</h5>
                <div class="card-body">
                    <form id="dataset-feature-form">    
                        <!-- Features Section -->
                        <div class="mb-3">
                            <div id="feature-checkboxes" class="row">
                                {% if param.feature_names %}
                                <label class="form-label">Select Features:</label>
                                    {% for feature in param.feature_names %}
                                        <div class="col-3"> 
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="feature-{{ loop.index }}" value="{{ feature }}">
                                                <label class="form-check-label" for="feature-{{ loop.index }}">{{ feature }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No features available</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if param.feature_names %}
                        <button type="button" class="btn btn-primary" id="submit-feature">Visualize</button>
                        {% endif %}
                    </form>
                    <button id="loading-spinner" style="display:none; text-align:center;" class="btn btn-primary" type="button">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>                    
                </div>
            </div>

            <div class="row" id="scatter-plot">
            </div>
        </div>
    </div>
</div>

{% endblock content %}
